amqp==5.3.1
APScheduler==3.11.0
asgiref==3.8.1
beautifulsoup4==4.10.0
billiard==4.2.2
celery==5.5.3
certifi==2025.4.26
charset-normalizer==3.4.2
click==8.3.0
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
Django==5.2.1
django-apscheduler==0.7.0
idna==3.10
ijudger==0.1.0
kombu==5.5.4
Markdown==3.7
nh3==0.3.6
packaging==25.0
prompt_toolkit==3.0.52
pymdown-extensions==10.16.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
pytz==2025.2
PyYAML==6.0.3
redis==7.0.1
requests==2.32.3
six==1.17.0
soupsieve==2.7
sqlparse==0.5.3
typing_extensions==4.13.2
tzdata==2025.2
tzlocal==5.3.1
urllib3==2.4.0
vine==5.1.0
wcwidth==0.2.14
