html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}

.title{
    text-align:center;

}

.maincontent {
    font-family: "Droid Serif";
}

.maincontent h1 {
    font-family: "Arial";
    font-weight: bold;
}

.maincontent h2 {
    font-family: "Arial";
    padding-left: 0.5rem;
    border-left: 0.5rem solid #c2c1c1;
}

.maincontent h2.no-indent {
    padding-left: none;
    border-left: none;
}
@import url('https://fonts.googleapis.com/css?family=Droid+Serif');