{% extends 'base.html' %}
{%load static%}
{% load i18n %}
{% block title %}{{post.title}} - {% trans "Henry's Website" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <h1 class="col-12 mt-4 mb-4 title">{{ post.title }}</h1>
        <div class="col-12">
            <div class="content">
                {{ post_content|safe }}
            </div>
            <p>
                {% trans "Created on:" %} {{ post.created }}
                <br>
                {% trans "Modified on:" %} {{post.modified}}
                <br>
                {% trans "Views:"%} {{post.views}}
            </p>
        </div>
    </div>
</div>
{% endblock %}
